header
  .container
    .nav-left
      a.logo(href="#") 
        span Investfund
    .nav-center
      a.nav-link(href="#") Assets
      button.nav-link(onClick="document.querySelector('#auth-popup').style.display = 'block';") My portfolio
    .nav-right
      a.nav-link()
      .avatar
